<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>signup| R-chat</title>
  <link rel="stylesheet" type="text/css" href="assets/css/sign.css" />
  <script src="http://code.jquery.com/jquery-1.9.0.js"></script>
</head>
<body>
<div id="wrap">
  <div id="header" align="center" style="margin-top: 30px">
    <img src="/assets/images/logo.png">
  </div>
  <div id="content">

    <div>Error :<%= flash[:danger] %></div>

    <div class="form-wrapper">
      <h1>Sign Up</h1>
      <%= form_for(@user) do |f| %>
        <div class="form-item">
          <label for="username"></label>
          <%= f.text_field :name, id:"username", placeholder:"UserName" %>
        </div>
        <div class="form-item">
          <label for="email"></label>
          <%= f.text_field :email, id:"email", placeholder:"Email Address" %>
        </div>
        <div class="button-panel">
          <%= f.submit "Sign Up", class: "button", value:"Sign Up" %>
        </div>
      <% end %>
      <br>
      <br>
    </div>
  </div>
</div>
</body>
</html>
