<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>| R-chat</title>
  <link rel="stylesheet" href="/assets/css/reset.css">
  <link rel="stylesheet" href="/assets/css/common.css">
  <script src="https://code.jquery.com/jquery-1.9.0.js"></script>
</head>
<body>
<div id="wrap">
  <div id="left">
    <div class="inner">
      <div id="userInfo">
        <div class="items">
          <p><span class="stateOnline">●</span> <%= @name %></p>
        </div>
      </div>
      <div id="room">
        <style>.items a{text-decoration: none; color: #fff;}</style>
        <p class="items">Rooms(<%= @rooms.length %>) <%= link_to "⊕", "room/new" %></p>
        <ul>
          <% @rooms.each do |room| %>
              <li><a href="#"><%= room.room_name %></a></li>
          <% end %>
        </ul>
      </div>
      <div id="member">
        <p class="items">Member(<%= @users.length %>)</p>
        <ul>
         <% @users.each do |user| %>
          <% if @toUser == user.name %>
           <li id="toUser"><%= link_to user.name, "/private/" + user.name %></a></li>
          <% else %>
                  <li><%= link_to user.name, "/private/" + user.name %></a></li>
              <% end %>
         <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div id="right">
    <div class="inner">
      <div id="messages">
        <% if false %>
        <% @messages.each do |message| %>
          <div class="message">
            <img src="https://i1.wp.com/slack.global.ssl.fastly.net/66f9/img/avatars/ava_0025-48.png?ssl=1" height="36px" width="36px">
            <div>
              <p class="messageInfo"><%= message.name %> <span><%= message.created_at %></span></p>
              <p class="messageBody"><%= message.message %></p>
            </div>
            <div style="clear: both;"></div>
          </div>
        <% end %>
        <% end %>
      </div>
      <div id="form">
        <form action="?" method="GET" id="new-message">
          <textarea id="message-text" name="text"></textarea>
        </form>
      </div>
    </div>
  </div>
</div>
<!--<script src="assets/js/index.js" type="text/javascript"></script>-->
<script>
  var ws_rails = new WebSocketRails("z.intern.ate.am:3001/websocket");
  var permission = 'denied';
  var $ta = $("#message-text");
  var $form = $("#new-message");

  Notification.requestPermission(function(selectedPermission) {
    permission = selectedPermission;
  });
  // メッセージ受信時の処理
  ws_rails.bind("websocket_chat", function(resArray){
    var message_li = document.createElement("li");
    message_li.textContent = resArray[0];
    $("#messages").append(createMessage(resArray[0],resArray[2],resArray[1]))
    var notify = new Notification(resArray[0], { tag: 'tag', body: resArray[1], icon: 'https://i1.wp.com/slack.global.ssl.fastly.net/66f9/img/avatars/ava_0025-48.png?ssl=1' });
    // クリックでWebページを開く
    notify.addEventListener('click', function() {
      open('http://gitlab.intern.ate.am/a/ruby-chat');
    });
    setTimeout(function() {
      notify.close();
    }, 5000);
    $('#messages').animate({scrollTop: $('#messages')[0].scrollHeight}, 'fast');

    //document.getElementById("chat_area").appendChild(message_li);
  })


  $(document).on("keypress", "#message-text", function(e) {
    if (e.keyCode == 13) { // Enterが押された
      if (e.shiftKey) { // Shiftキーも押された
        $.noop();
      } else if ($ta.val().replace(/\s/g, "").length > 0) {
        e.preventDefault();
        var comment = $ta.val()
        var d = new Date();
        var fruits = ['<%= @name %>', comment,d];
        ws_rails.trigger("websocket_chat", fruits);
        $ta.val("")
        $('#messages').animate({scrollTop: $('#messages')[0].scrollHeight}, 'fast');
      }
    } else {
      $.noop();
    }
  });

  function createMessage(name, created_at, message){
    $wrapDiv = $('<div>').attr({
      class: 'message'
    });

    $img = $('<img>').attr({
      src: 'https://i1.wp.com/slack.global.ssl.fastly.net/66f9/img/avatars/ava_0025-48.png?ssl=1',
      height: '36px;',
      width: '36px;'
    });

    $messageDiv = $('<div>');
    $messageInfo = $('<p>').attr({
      class: 'messageInfo',
    }).html(name + ' <span>' + created_at + '</span>');
    $message = $('<pre>').attr({
      class: 'messageBody'
    }).html(escapeHTML2(message));

    $messageDiv.append($messageInfo);
    $messageDiv.append($message);

    $crear = $('<div>').attr({
      style: 'clear: both;',
    });

    $wrapDiv.append($img);
    $wrapDiv.append($messageDiv);
    $wrapDiv.append($crear);

    return $wrapDiv;
  }
  // HTMLエスケープ - jQueryを使うと一行で書ける
  function escapeHTML2(html) {
    return jQuery('<div>').text(html).html();
  }

  // メッセージ送信時の処理
  //  document.getElementById("send").onclick =  function(){
  //    var comment = document.getElementById("comment").value;
  //    ws
</script>
</body>
</html>
